@{
    ViewData["Title"] = "Главная страница";
}

<img src="~/home.png" width="100%" />

<div class="container">
    <div style="display: flex; align-items: center; font-size: 20px; color: black; margin-bottom: 20px;">
        <img src="~/будущее.jpg" width="30%" style="margin-right: 20px;" />
        <p style="flex: 1; padding-left: 5%; padding-top: 5%;">
            Будущее — это то, что ждет нас впереди, и оно зависит от того, как мы себя развиваем. Каждый из нас имеет огромный потенциал, который можно реализовать благодаря знаниям и умениям. Дети, занимаясь спортом, искусством или учебой, закладывают основы своего будущего. Важно помнить, что занятия в секциях развивают не только навыки, но и уверенность в себе.
        </p>
    </div>
    <div style="display: flex; align-items: center; font-size: 20px; color: black; margin-bottom: 20px;">
        <p style="flex: 1; padding-right: 5%; padding-top: 5%;">
            Для взрослых развитие также играет ключевую роль. Постоянное обучение помогает нам идти в ногу со временем и оставаться конкурентоспособными. Ходить на курсы или посещать мастер-классы — это отличная возможность расширить свои горизонты. Кроме того, общение с единомышленниками вдохновляет и мотивирует на новые достижения.
        </p>
        <img src="~/будущее2.jpg" width="30%" style="margin-left: 20px;" />

    </div>
    <div style="display: flex; align-items: center; font-size: 20px; color: black; margin-bottom: 20px;">
        <img src="~/будущуу3.jpg" width="30%" style="margin-right: 20px;" />
        <p style="flex: 1; padding-left: 5%; padding-top: 5%;">
            Помните, что возможности безграничны! Начните заниматься тем, что вам действительно интересно, и наблюдайте, как ваша жизнь меняется к лучшему. Будущее в ваших руках, и оно может быть удивительным, если вы будете развиваться каждый день!
        </p>
    </div>

</div>



