@model EditPasswordViewModel

<h2>Редактировать пароль</h2>

<form id="EditPaswfFOrm" asp-action="EditPassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn" style="background-color: #79769b">Изменить пароль</button>
</form>

<script>
    $(document).ready(function () {
        $('#EditPaswfFOrm').on('submit', function (event) {

            event.preventDefault();

            const formData = $(this).serialize();
            console.log(formData)

            $.ajax({
                url: '@Url.Action("EditPassword", "Account")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    console.log(data);
                    showSuccessMessage(data);

                    // Assuming data contains the success message you want to display
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 400) {
                        // Получаем ошибки валидации
                        const errors = xhr.responseJSON.errors;
                        console.log(xhr.responseJSON.errors);
                        // Отображаем ошибки
                        showErrorMessage(xhr.responseJSON.errors);
                    } else {
                        showErrorMessage("Что-то пошло нитак :(");
                    }




                }
            });
        });
    });
    function showSuccessMessage(message) {
        const errorDiv = document.getElementById('resulterr4');
        errorDiv.innerText = message;
        errorDiv.style.display = 'none';
        const resultDiv = document.getElementById('result4');
        resultDiv.innerText = message;
        resultDiv.style.display = 'block';
    }

    function showErrorMessage(message) {
        const resultDiv = document.getElementById('result4');
        resultDiv.innerText = message;
        resultDiv.style.display = 'none';

        const errorDiv = document.getElementById('resulterr4');
        errorDiv.innerText = message;
        errorDiv.style.display = 'block';
    }


</script>