@model CourseGuide.Models.EducationalInstitution

<button id="openModalButtonEd" type="button" class="btn " data-bs-toggle="modal" data-bs-target="#EducationalInstitutioncreateModal" style="background-color: #79769b">
    Добавить учебное заведение
    </button>


<div class="modal fade" id="EducationalInstitutioncreateModal" tabindex="-1" aria-labelledby="EducationalInstitutioncreateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EducationalInstitutioncreateModalLabel">Создание учебного заведения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="educationalInstitutionForm" asp-controller="Admin" asp-action="EducationalInstitutionCreate" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div>


                        <label class="form-label" asp-for="Name"></label>
                        <input class="form-control" name='Name' asp-for="Name" />

                        <label class="form-label" asp-for="Address"></label>
                        <input class="form-control" name='Address' asp-for="Address" />


                        <label class="form-label" asp-for="Description"></label>
                        <input class="form-control" name='Description' asp-for="Description" />
                        

                        <br />


                        <button type="submit" asp-controller="Admin" asp-action="EducationalInstitutionCreate" class="btn mb-3" style="background-color: #79769b">Добавить</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function openModalEd() {
            $('#EducationalInstitutioncreateModal').modal('show');
        }

        // Проверка на открытое модальное окно при загрузке страницы
        if (localStorage.getItem('modalOpenEd') === 'true') {
            openModalEd();
            localStorage.removeItem('modalOpenEd'); // Удаляем флаг после открытия
        }

        // Загрузка обработчика для открытия модального окна
        var openModalButton = document.getElementById('openModalButtonEd');
        if (openModalButton) {
            openModalButton.addEventListener('click', function () {
                localStorage.setItem('modalOpenEd', 'true'); // Сохраняем состояние
            });
        }

        const modal = document.getElementById('EducationalInstitutioncreateModal');
        const closeModalButton = modal.querySelector('.btn-close');
        // Если нужно закрывать модальное окно и убирать состояние из Local Storage
        closeModalButton.addEventListener('click', function () {
            localStorage.removeItem('modalOpenEd');
        });

    

    });
   


</script>

