html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footerme {
    height: 60px; /* Высота футера */
    background-color: #f8f9fa; /* Нежно-серый фон */
    text-align: center; /* Центрирование текста */
    line-height: 60px; /* Вертикальное центрирование */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    width: 100%; /* Полная ширина окна */
}
nav {
    background-color: #f8f9fa;
}
